@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$bcol: #f3ebdc;
$lincol: #2E60FF;
$font2: 'Ubuntu', sans-serif;


@import "_reset.scss";
@import "_mnu.scss";


a {
  text-decoration: none;
  color: #2E60FF;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 70px;
}


body {
  font-family: 'Pragmatica', sans-serif;
  font-weight: 400;
  font-size: 10.7px;
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.contain {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
}


.mdesk-w strong {
  line-height: 1.7;
}



.top {  
  background: #FFFFFF;
  box-shadow: 0px 20px 50px rgba(132, 147, 160, 0.1);
  display: flex;  
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
}

.top-info {
  display: none;
}

.top-w {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 148px;
  width: 200px;
  display: block;
  height: 39.3px;
}

.col-mnu {
  display: flex;
}

.hidden-mnu {
}

.toggle-mnu {
}

.top-mnu {
  ul {
    display: flex;
  }

  li {
    margin-right: 15px;
    position: relative;
    display: flex;    
    align-items: flex-end;
    &:before {
      display: block;
      content: ".";       
      color: rgb(20, 18, 31);
      font-size: 17px;
      margin-right: 15px;
    }    
    &:first-child {
      &:before {
        display: none;
      }
    } 
    &:nth-child(2) {
      &:before {
        display: none;
      }
    }   
    a {
      color: rgb(20, 18, 31);
      font-size: 17px;
      &:hover {
        text-decoration: none;
        color: #2E60FF;
      }
    }
    &.nav-tit {
      display: none;
    }
  }
}



.like {
  width: 20px;
  height: 20px;
  position: relative;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: left top;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 0px;
}

.like-num {  
  margin-right: -8px;
  margin-top: -4px;
  display: inline-block;  
  position: relative;
  span {
    position: relative;
    z-index: 2;
    color: rgb(46, 96, 255);
    font-weight: 700;
    font-size: 10px;
  }
  &:after {
    background-color: #FFF;
    display: block;
    content: ""; 
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: -4px;
    left: -3px;
    z-index: 0;    
    border-radius: 50%;
  } 
}

.enter {
  font-size: 17px;
  color: rgb(46, 96, 255);
  margin-left: 34px;
}

.msearch {
  margin-top: 70px;
}

.msearch-w {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.msearch-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 945px;
  height: 80px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(132, 147, 160, 0.15) 0px 20px 50px;
  border-radius: 10px;
  justify-content: space-between;
  position: relative;
}

.msearch-sel {
  color: rgb(20, 18, 31);
  font-size: 17px;
  padding-left: 48px;
}

input[type="text"].msearch-input {
  height: 100%;
  border: none;
  font-size: 24px;
  color: rgb(20, 18, 31);
  padding-left: 24px;
  padding-right: 24px;  
  flex-grow: 1;
  padding-right: 90px;
  padding-left: 24px;
}

.msearch-btn {
  border: none;
  background: none;
  outline: none;
  font-size: 0;
  width: 24px;
  height: 24px;
  background: url("../img/search.svg") $nr 0 0;
  position: absolute;
  right: 48px;
  top: calc(50% - 12px);
}

.prz {
  margin-top: 101px;
}

.prz-w {
  display: flex;
  justify-content: space-between;
}

.prz-1 {
  width: calc(50% - 15px);
  height: 357px;
  background: url("../img/Buy.svg") right bottom no-repeat rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: rgba(132, 147, 160, 0.15) 0px 10px 50px;
  padding: 48px 48px 20px;
  display: flex;  
  flex-direction: column;
  padding-bottom: 48px;
}

.prz-2 {
  width: calc(50% - 15px);
  height: 357px;
  padding: 48px 48px 20px;
  background: url("../img/Bag2.svg") right bottom no-repeat rgb(46, 96, 255);
  box-shadow: rgba(132, 147, 160, 0.15) 0px 10px 50px;
  border-radius: 10px;
  display: flex;  
  flex-direction: column;
  padding-bottom: 48px;
}

.prz-txts {
  display: flex;  
  flex-direction: column;  
  flex-grow: 1;          
  align-items: flex-start;
}

.prz-txt-1 {
  margin-bottom: 9px;
  font-size: 17px;
  line-height: 1.5;
  color: #858fa4;
}

.prz-txt-2 {
  margin-bottom: 48px;
  font-size: 34px;
  font-weight: bold;
  color: #14121f;
}

.prz-txt-3 {  
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  max-width: 300px;
}

.prz-txt-butt {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 37px;
  padding-right: 37px;
  font-size: 17px;
  color: #FFFFFF;
  margin-top: auto;
}



.prz-txt-11 {
  margin-bottom: 9px;
  font-size: 17px;
  line-height: 1.5;
  color: #FFFFFF;
}

.prz-txt-22 {
  margin-bottom: 48px;
  font-size: 34px;
  font-weight: bold;
  color: #FFFFFF;
}

.prz-txt-33 {  
  font-size: 17px;
  line-height: 1.5;
  color: #FFFFFF;
  max-width: 350px;
}

.prz-txt-butt-w {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 37px;
  padding-right: 37px;
  font-size: 17px;
  color: #2E60FF;
  background: #FFFFFF;
  margin-top: auto;
}

.mdesk {
  margin-top: 123px;
}

.mdesk-w {
  max-width: 762px;
  width: 100%;
  font-size: 24px;
  line-height: 1.6;
  text-align: center;
  color: rgb(20, 18, 31);
  position: relative;
  z-index: 3;
  margin: auto auto 70px;
}

.mdesk-span {
  width: 300px;
  height: 60px;
  left: 25px;
  left: -5px;
  top: -10px;
  background: rgb(239, 248, 241);
  border-radius: 30px;
  transform: rotate(-5deg);
  line-height: 1.7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -2;
}

.divider {
  height: 1px;
  background: rgba(183, 188, 198, 0.5);
  border-radius: 1px;
}

.comps {
  margin-top: 104px;
}

.header2-w {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  color: rgb(20, 18, 31);
  margin-bottom: 70px;
}

.hdr-link {
  font-size: 17px;
  color: rgb(46, 96, 255);
  padding-right: 24px;
  display: inline-flex;
  background-image: url("../img/arr-r-bl.svg");
  background-repeat: no-repeat;
  background-position: right center;
  margin-top: 9px;
}

.comps-w {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.comps-it {
  width: calc(33.3333% - 20px);
  border-radius: 10px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 20px 24px 24px 24px;
  &:hover {
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA);

  }
}

.comps-txt-1 {
  font-size: 19px;
  font-weight: bold;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  display: block;
  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: #2E60FF;
  }
}

.comps-txt-2 {
  font-size: 16.4px;
  color: rgb(20, 18, 31);
  margin-bottom: 48px;
  padding-right: 0px;
  padding-left: 36px;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.comps-txt-3 {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
}





.nbuy {
  margin-top: 95px;
}

.nbuy-w {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nbuy-txt-0 {
  font-size: 19.4px;
  font-weight: bold;
  color: rgb(20, 18, 31);
  margin-bottom: 26px;
  line-height: 1.44;
  display: block;
  &:hover {
    color: rgb(46, 96, 255);
    text-decoration: none;
  }
}

.nbuy-txt-1 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  padding-right: 0px;
  padding-left: 36px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.nbuy-txt-2 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  padding-right: 0px;
  padding-left: 30px;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 21px;
  display: flex;
  align-items: center;
}

.nbuy-txt-3 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 12px;
  padding-right: 0px;
  padding-left: 31px;
  background-image: url("../img/money.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}





.nbuy-txt-3-span {
  font-weight: 700;
}

.produ {
  margin-top: 82px;
}

.produ-w {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produ-it {
  width: calc(50% - 15px);
  height: 213px;
  border-radius: 10px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  margin-bottom: 24px;
  padding: 24px;
  display: flex;
  &:hover {
    background-color: #f8f9fa;
  }
}

.produ-img-w {
  width: 165px;
  height: 165px;
  display: flex;
  flex: 0 0 auto;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.produ-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produ-txts {
  flex-grow: 1;
}

.produ-txt-1 {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  margin-bottom: 14px;
  &:hover {
    color: #2e60ff;
    text-decoration: none;
  }
}

.produ-txt-2 {
  display: block;
  font-size: 17px;
  line-height: 1.5;
  color: rgb(46, 96, 255);
  margin-bottom: 14px;
}

.produ-txt-3 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  padding-right: 0px;
  padding-left: 31px;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.produ-txt-4 {
  color: rgb(20, 18, 31);
  font-size: 17px;
}

.produ-txt-4-span {
  font-size: 20px;
  font-weight: 700;
}

.mnav {
  margin-top: 73px;
}

.mnav-w {
  .tabs-control {
    border-bottom: 1px
    solid #b7bcc680;
    display: flex;
    padding-bottom: 24px;
  }
  .tabs_control_item {
    margin-right: 38px;
    display: flex;    
    align-items: flex-end;
  }

  .active {
    .tabs_control_link {      
      font-weight: bold;
      color: rgb(46, 96, 255);
      
    }    
  }

  .tabs_control-span {
    font-size: 17px;
    color: rgb(133, 143, 164);
    font-weight: 400;
    margin-left: 10px;
    display: inline-block;
  }

  .tabs_control_link {
    font-size: 25px;
    color: rgb(133, 143, 164);
    font-weight: 400;
    display: flex;
    align-items: flex-end;    
    padding-top: 0px;
    &:hover {
      text-decoration: none;
      color: rgb(46, 96, 255);
    }
  }



  .tabs_content_item {
    display: none;
    &.active {
      display: block;
    }
  }
}



.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(#000, 0.8);
  display: none;
}

.mnav-sel-w {
  display: flex;
  align-items: center;
  margin-top: 48px;
  .select2-container {  
    width: 233px !important;
    .select2-selection--single {
      background: #FFF;
      border: 1px solid rgba(183, 188, 198, 0.2);      
      border-radius: 5px;   
      padding-left: 24px;
      height: 48px;
      .select2-selection__arrow {

      }
      .select2-selection__rendered {

      }
      .select2-selection__arrow {
        background: url("../img/arr-b.svg") $nr center;
        b {
          display: none;
        }
      }
    }  
    .select2-search--dropdown {
      .select2-search__field {

      }
    }
    .select2-results__option {

    }
  }  
}

.mnav-sel-tit {
  font-size: 17px;
  margin-right: 14px;
}

.mnav-sel {
  align-items: center;
  display: inline-flex;
  height: 48px;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding-left: 24px;
  padding-right: 24px;
  font-size: 17px;
}

.mnav-sel-span {
  width: 10px;
  height: 10px;
  display: block;
  background-image: url("../img/arr-b.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-left: 68px;
}

.mnav-links-w {
  margin-top: 68px;
  display: none;
  &.active {
   display: flex; 
 }
}

.mnav-links-ul {
  width: calc(33.3333% - 25px);
  margin-right: 75px;
}

.mnav-links-li {
  margin-bottom: 32px;
}

.mnav-link {
  font-size: 17px;
  color: rgb(20, 18, 31);
  padding-right: 24px;
  display: inline-block;
  position: relative;
  display: flex;  
  align-items: center;
  &:after {
    flex: none;
    margin-left: 14px;
    content: "";
    display: block;
    background-image: url("../img/arr-r-b.svg");
    background-repeat: no-repeat;
    background-position: right center;
    width: 10px;
    height: 8.5px;
  }  
  &:hover {
    text-decoration: none;
    color: $lincol;
    &:after {
      background-image: url('../img/arr-r-bl.svg');
    }
  }
}

.tabs_content_item {
}

.pubs {
  margin-top: 100px;
  margin-bottom: 100px;
}

.pubs-w {
  display: flex;
  justify-content: space-between;
}

.pubs-it {
  width: calc(100% / 4 - 90px / 4);
  &:hover {
    .pubs-desc {  
      color: #000;
    }
  }
}

.pubs-img-w {
  display: block;
  height: 162px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 24px;
  border-radius: 10px;
}

.pubs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pubs-date {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  padding-right: 0px;
  padding-left: 30px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.pubs-tit {
  font-weight: bold;
  line-height: 1.63;
  color: rgb(20, 18, 31);
  font-size: 17px;
  margin-bottom: 24px;
  display: block;
  &:hover {
    text-decoration: none;
    color: rgb(46, 96, 255);
  }
}

.pubs-desc {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(133, 143, 164);
}





.foot {
  background-color: rgb(20, 18, 31);
  padding-top: 74px;
  padding-bottom: 70px;
}

.foot-w {
}

.foot-row-1 {
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(133, 143, 164, 0.15);
  display: flex;
  justify-content: space-between;
}

.foot-col-1 {
  width: 262px;
}

.plogo {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  display: inline-block;
  margin-bottom: 33px;
  margin-top: -3px;
}

.copy {
  font-size: 14px;
  color: rgb(133, 143, 164);
}

.foot-ul {
  li {
    margin-bottom: 23px;
  }
  a {
    font-size: 15px;
    color: rgb(133, 143, 164);
    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }
}







.foot-mnu-head {
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.foot-row-2 {
  padding-top: 47px;
  padding-bottom: 0px;
}

.foot-row-2-txt-1 {
  font-size: 15px;
  color: rgb(133, 143, 164);
  margin-bottom: 14px;
  a {
    color: #FFF;
  }
}

.foot-row-2-txt-2 {
  font-size: 15px;
  color: rgb(133, 143, 164);
}

.butt, .butt-w {  
  transition: 0.5s;
  &:hover {
    text-decoration: none;
  }
}

.butt {
  background: none;
  outline: none;
  border: none;
  &:hover {
    background-color: #5981FF;
  }
}
.butt-w {
 &:hover {
  background-color: #1742c9;
  color: #fff;
} 
}


.msearch-form {
  .select2-container {
    width: 258px !important;
    flex: none;
    padding-left: 48px;
    border-right: 1px solid rgba(183, 188, 198, 0.5);
    padding-right: 24px;
    .select2-selection--single {
      border: none;
    }
  }  
}







.select2-container {  
  .select2-selection--single {
    border: none;
    outline: none;
    font-size: 17px;
    color: #14121F; 
    height: 40px;
    display: flex;   
    align-items: center;
    border: 1px solid rgba(183, 188, 198, 0.2);
    .select2-selection__arrow {
      height: 100%;
      right: 24px;
      width: 10px;
    }
    .select2-selection__rendered {
      padding-left: 0;
    }
    .select2-selection__arrow {
      background: url("../img/arr-b.svg") $nr center;
      b {
        display: none;
      }
    }
  }  
  .select2-search--dropdown {
    .select2-search__field {
      height: 30px;
    }
  }
  .select2-results__option {
    font-size: 17px;
  }
}


/**********************2*********************/

.abcomp-desc {
  font-size: 19px;
  line-height: 1.8;
  color: rgb(20, 18, 31);
  margin-bottom: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  line-clamp: 7;
  box-orient: vertical;
  &.on {
    overflow: visible;
    text-overflow: unset;
    -webkit-line-clamp: unset;
    line-clamp: unset;
    box-orient: unset;
  }
}

.bconts-col-3 a {
  font-size: 17px;
}

.brevs > h2 {
  font-size: 32px;
  font-weight: bold;
  color: rgb(20, 18, 31);
}

.wrapper {
}

.bread {
  padding-top: 19px;
  padding-bottom: 30px;  
  margin-bottom: 31px;  
  ul {
    margin-bottom: 0px;
  }

  li {
    margin-right: 13px;
    display: inline-block;
  }

  a {
    font-size: 17px;
    color: rgb(46, 96, 255);
    display: block;
  }

  span {
    font-size: 17px;
    color: #858FA4;
    display: block;
  }
}

.tsearch {
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/tsearch.svg") $nr 0 0;
  margin-left: auto;
}

.like-s {
  margin-left: 32px;
}


.comp-page,
.purchase-page {
  h2 {
    font-size: 25.4px;
    color: #14121F;
    margin-bottom: 46px;
  }  
  .columns {

  }
}

.columns {

}

.comp-card {
  min-height: 214px;
  height: auto;
  box-sizing: border-box;
  box-shadow: rgba(132, 147, 160, 0.05) 0px 10px 50px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 25px 24px 10px;
  justify-content: space-between;
  margin-bottom: 24px;  
  background: linear-gradient(0deg, #F8F9FA, #F8F9FA);
  border-radius: 10px 10px 0px 0px;
}

.comp-card-top {
  margin-top: 35px;
  .manufacturers-card-info-col-1 {    
    flex: 1 1 530px;
  }
  .comp-card-info-col-2 {
    margin-top: -10px;
  }
  .comp-card-info-col-2 {   
    flex-grow: 1; 
  }
  .manufacturers-card-info {
    margin-top: 10px;
  }
}

.comp-card-img {
  width: 165px;
  height: 165px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}



.manufacturers-card-info-col-1 {
  display: block;
  h1, .head-1 {
    font-weight: bold;
    font-size: 26px;
    color: rgb(20, 18, 31);
    display: inline-flex;
    margin-bottom: 14px;
  }
}



.manufacturers-card-info-a-1-span {
  background-image: url("../img/check-green.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.comp-card-info-a-geo {
  display: flex;
  font-size: 17px;
  width: 100%;
  align-items: center;
  padding-left: 0px;
  color: rgb(133, 143, 164);
  margin-bottom: 29px;
}

.comp-card-info-txt {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
}

.comp-card-info-col-2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.comp-butt {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: 24px;
}

.comp-card-info-col-2-btn {
  width: 48px;
  height: 48px;
  background: url("../img/heart.svg") center center no-repeat rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  display: block;
  margin-left: 0px;
  box-shadow: rgba(132, 147, 160, 0.15) 0px 10px 30px;
  border-radius: 5px;
}

.comp-err-link {
  margin-top: 51px;
  display: block;
  width: 100%;
  float: none;
  text-align: right;
  font-size: 17px;
  color: #2E60FF;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column-l {
  flex-grow: 1;
  margin-right: 30px;
  width: 100%;
}

.column-r {
  width: 354px;
  flex: none;  
}

.comp-nav {
  display: flex;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);  
  margin-bottom: 66px;
  li {
    margin-right: 46px;    
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    color: rgb(133, 143, 164);
    font-size: 19px;
    border-bottom: 3px solid transparent;
    display: inline-block;
    padding-bottom: 27px;
    &:hover {
      text-decoration: none;
      border-bottom: 3px solid rgb(46, 96, 255);
      color: rgb(46, 96, 255);      
    }
    &.act {      
      color: rgb(46, 96, 255);
      font-weight: 700;
      border-bottom: 3px solid rgb(46, 96, 255);
    }
  }
}



.abcomp {
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 49px;
}

.head-2 {
  font-weight: bold;
  font-size: 25.7px;
  line-height: 1;
  color: rgb(20, 18, 31);
  margin-bottom: 48px;
}

.comp-more {
  font-size: 17px;
}

.abcomp-acts {
  margin-top: 53px;
}

.abcomp-act {
  display: inline-flex;
  align-items: center;
  margin-right: 113px;
}

.abcomp-icon {
}

.abcomp-title {
  color: rgb(20, 18, 31);
  font-size: 17px;
  margin-left: 14px;
}

.abcomp-size {
  color: #858FA4;
}

.compgal {
  margin-top: 70px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 54px;
}

.compgal-w {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  height: 165px;
  overflow: hidden;
  flex-wrap: wrap;
  &.on {
    height: auto;
    overflow: visible;
  }
}

.compgal-it {
  display: block;
  height: 165px;
  width: calc(25% - 22.5px);
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}

.compgal-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.compgal-more {
  font-size: 17px;
}

.productis {
  margin-top: 70px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 55px;
}

.productis-nav-w {
  margin-bottom: 48px;
}

.productis-nav {
}

.productis-nav-li {
  margin-bottom: 29px;
}



.productis-nav-a {
  font-size: 17px;
  color: #2E60FF;
  &.act {  
    color: #858FA4;
  }
}

.productis-w {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.productis-it {
  width: calc(33.3333% - 20px);
  border-radius: 10px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 24px 24px 11px 24px;
}

.productis-img-w {
  display: block;
  height: 182px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}

.productis-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productis-tit {
  font-weight: bold;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(20, 18, 31);
  margin-bottom: 14px;
  display: block;
  &:hover {
    text-decoration: none;
    color: $lincol;
  }
}

.productis-chars {
  font-size: 17px;
  margin-bottom: 14px;
  color: #858FA4;
}

.productis-chars-span {
  color: rgb(20, 18, 31);
}

.productis-b {
  color: rgb(20, 18, 31);
}

.productis-more {
  font-size: 17px;
}

.pubss {
  margin-top: 63px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 56px;
}

.pubss-w {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.pubss-it {
  width: calc(50% - 15px);
}

.pubss-txt-1 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  padding-right: 0px;
  padding-left: 30px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.pubss-txt-2 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.6;
  color: rgb(20, 18, 31);
  display: block;
  margin-bottom: 24px;
}

.pubss-txt-3 {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(133, 143, 164);
}

.pubss-more {
  font-size: 17px;
}

.bconts {
  margin-top: 66px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 23px;
}

.bconts-w {
  width: 100%;
}

.bconts-row {
  display: flex;
  margin-bottom: 17px;
  width: 100%;
}

.bconts-col-1 {
  flex: none;
  width: 120px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(20, 18, 31);
}

.bconts-col-2 {
  width: 360px;
  margin-right: 30px;
  margin-left: 76px;
  flex: 0 0 auto;
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  a {
    text-overflow: ellipsis;
    width: 74px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    &.on {
      text-overflow: unset;
      width: auto;
      white-space: unset;
      
    }
  }
}

.bconts-col-3 {
  flex-grow: 1;
}

.brequisits {
  margin-top: 70px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 48px;
}

.brequisits-w {
  margin-bottom: 46px;
}

.brequisits-row {
  display: flex;
  margin-bottom: 23px;
  align-items: flex-start;
}

.brequisits-col-1 {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  width: 189px;
  margin-right: 6px;
  flex: 0 0 auto;
}

.brequisits-col-2 {
  width: 360px;
  margin-right: 0px;
  margin-left: 0px;
  flex-grow: 1;
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
}

.brequisits-butt {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: 0px;
}

.brevs {
  margin-top: 67px;
  .head {
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    color: #14121F;
    margin-bottom: 0;
  }
}

.head {
  margin-bottom: 48px;
}

.brevs-w {
  margin-top: 47px;
  width: 100%;
}

.brevs-it {
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 51px;
  padding-top: 48px;
  width: 100%;
}

.brevs-inn {
  display: flex;
  width: 100%;
}

.brevs-img-w {
  width: 68px;
  height: 68px;
  border-radius: 34px;
  background-color: rgb(243, 243, 243);
  margin-right: 30px;
  flex: none;
  overflow: hidden;
  display: block;
  img {
   width: 100%;
   height: 100%;
   object-fit: cover; 
 }
}

.brevs-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brevs-r {
  flex-grow: 1;
}

.brevs-row-1 {
}

.brevs-name {
  font-size: 17px;
  font-weight: bold;
  color: rgb(20, 18, 31);
  display: inline-block;
}

.brevs-date {
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-left: 14px;
  display: inline-block;
}

.brevs-desc {
  margin-top: 24px;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  max-width: 457px;
  width: 100%;
}

.brevs-links {
  width: 100%;
}

.brevs-link {
  font-size: 17px;
  display: inline-block;
  margin-right: 24px;
}

.brevs-it-answ {
  padding-top: 48px;
}

.addbrevs {
  margin-top: 70px;
}

.addbrevs-form {
}

.addbrevs-row-1 {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

input[type="text"].addbrevs-input {
  width: 263px;
  height: 48px;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding-left: 24px;
  padding-right: 24px;
  font-size: 17px;
  color: #858fa4;
}

.addbrevs-reg {
  font-size: 17px;
  color: #858fa4;
}



.addbrevs-area {
  width: 100%;
  height: 250px;
  flex-grow: 0;
  border-radius: 5px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 13px 16px 16px 23px;   
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-bottom: 45px;
  &:focus {
    outline: none;
  }
}

.addbrevs-butt {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: 0px;
}

.addbrevs-rules {
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-top: 24px;
}



.rconts {
  margin-left: 17px;
  max-width: 312px;
  margin-top: -3px;
}

.head-2-r {
  font-size: 25.7px;
  font-weight: bold;
  line-height: 1.3;
  color: rgb(20, 18, 31);
}

.rconts-ul {
  margin-top: 50px;
  margin-bottom: 51px;
}

.rconts-li {
  font-size: 17px;
  color: rgb(20, 18, 31);
  display: flex;
  margin-bottom: 28px;
}

.rconts-span {
  width: 108px;
  display: block;
  flex: none;
}

.rconts-a {
  flex-grow: 1;
  a {
    text-overflow: ellipsis;
    width: 74px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
    &.on {
      text-overflow: unset;
      width: auto;
      white-space: unset;      
    }
  }
}

.butt-bl-w100 {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: 0px;
  width: 100%;
  margin-bottom: 14px;
  font-size: 17px;
}

.butt-wh-w100 {
  height: 48px;
  background: rgb(46, 96, 255);
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  margin-right: 0px;
  width: 100%;
  margin-bottom: 14px;
  border: solid 1px #b7bcc633;
  background-color: #ffffff;
  color: #2e60ff;
}

.bsimcomps {
  margin-top: 67px; 
  padding-bottom: 79px; 
}    

.bsimcomps-w { 
  width: 100%; 
  .manufacturers-card {
    margin-bottom: 20px;
    width: 100%;
  }
  .manufacturers-card-info {
    padding-top: 0;
    margin-top: 0;
  }
}


/*****************3********************/

.manufacturers-card-img-2 > img {
  position: absolute;
}


.manufacturers {  
  margin-bottom: 99px;
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 1;
    margin-bottom: 70px;
  }
}



.manufacturers-w {
  width: 100%;
  
}

.manufacturers-filtr {
  .select2-container {
    .select2-selection--single {
      height: 48px;
      padding-left: 24px;
    }
  }
}

.manufacturers-cond {
  display: flex;
  margin-bottom: 48px;
  .select2-container {
    .select2-selection--single {
      height: 48px;
      padding-left: 24px;
    }
  }
}

.manufacturers-cond-item {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  width: 165px;
}

.manufacturers-cond-item-txt {
  font-size: 15px;
  color: rgb(20, 18, 31);
  margin-bottom: 10px;
  display: inline-block;
  &.empty {
    opacity: 0;
    visibility: hidden;
  }
}

.manufacturers-cond-item-100 {  
  flex-grow: 1;
  margin-right: 30px;
}

.manufacturers-cond-item-search {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 19px 16px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-size: 17px;
  color: rgb(20, 18, 31);
}

.manufacturers-cond-item-search-span {
  background-image: url("../img/arr-d.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 10px;
}

.manufacturers-cond-item-2 {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  width: 263px;
}

input[type="text"].manufacturers-cond-item-input {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  padding-left: 24px;
  padding-right: 16px;
  width: 100%;
  font-size: 17px;
}

.manufacturers-cond-item-3 {
  display: inline-flex;
  flex-direction: column;  
  width: 262px;
}

.manufacturers-card-w {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 21px;
  .column-r {
    width: 360px;
  }
}

.manufacturers-dil {
  background: #F8F9FA;
  padding: 24px;
  border-radius: 10px;
}

.manufacturers-card {  
  min-height: 214px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  box-shadow: rgba(132, 147, 160, 0.05) 0px 10px 50px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 25px 24px 22px;
  justify-content: space-between;
  margin-bottom: 24px;
  &.act {
    border: 1px solid rgba(156, 218, 154, 0.5);
  }
  &:hover {  
    background: #F8F9FA;
  }
}

.manufacturers-card-img {
  width: 165px;
  height: 165px;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}






.manufacturers-card-info {
  display: flex;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 24px;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-top: 2px;
  margin-top: -6px;
}

.manufacturers-card-info-row {
  display: flex;
  margin-bottom: 14px;
  width: 100%;
  justify-content: space-between;
}


.manufacturers-card-info-col-1 {
  flex-direction: column;
  width: 300px;
}

.manufacturers-card-info-a-1 {
  font-weight: bold;
  font-size: 18px;
  color: rgb(20, 18, 31);
  display: inline-flex;
  margin-bottom: 14px;
}

.manufacturers-card-info-a-1-span {
  background-image: url("../img/check-green.png");
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.manufacturers-card-info-a-geo {
  display: flex;
  font-size: 17px;
  color: rgb(20, 18, 31);
  width: 100%;
  align-items: center;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  min-height: 20px;
}

.manufacturers-card-info-col-2 {
  display: flex;
  justify-content: flex-end;
  .productis-img-w-span {
    position: static;
    margin-left: 15px;
  }
}

.manufacturers-card-info-col-2-btn {
  width: 48px;
  height: 48px;
  background: url("../img/mail.svg") center center no-repeat rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-left: 14px;
}

.manufacturers-card-info-a-2 {
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-bottom: 28px;
}

.manufacturers-card-info-txt {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
}

.manufacturers-card-img-2 {
  width: 165px;
  height: 165px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 0 0 auto;
  position: relative;
}

.manufacturers-card-info-txt-2 {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  margin-bottom: 31px;
  margin-top: 12px;
}

.manufacturers-card-info-btn {
  background: rgb(46, 96, 255);
  border-radius: 5px;
  font-size: 17px;
  color: rgb(255, 255, 255);
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  padding-right: 23px;
  justify-content: center;
}



.manufacturers-card-img-3 {
  width: 165px;
  height: 165px;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.manufacturers-col-2 {
  width: 370px;
}

.manufacturers-filtr {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px 22px 9px 24px;
  margin-bottom: 70px;
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #858FA4;
  }
}

.manufacturers-select {
  margin-bottom: 20px;
}

.manufacturers-select-g {
  margin-bottom: 12px;
}

.manufacturers-select-txt {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-bottom: 29px;
  font-weight: bold;
}

.manufacturers-select-search {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 19px 16px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-size: 17px;
  color: rgb(133, 143, 164);
  + .select2 {
   margin-bottom: 14px; 
 }  
}

.manufacturers-label-checked {
  margin-bottom: 54px;
  display: flex;
  input[type="checkbox"], input[type="radio"] {
    display: none;
    &:checked {
      + .manufacturers-span-checked {
        background: url("../img/check-wi.svg") center no-repeat rgb(46, 96, 255);        
      }
    }
  }
}

.label-checkbox {

}

.manufacturers-span-checked {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(46, 96, 255);
  flex: none;
}

.manufacturers-label-span-txt {
  font-size: 17px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  margin-left: 14px;
  margin-top: -2px;
}

.manufacturers-reset {
  font-size: 17px;
  color: rgb(46, 96, 255);
  margin-top: 24px;
  display: block;
  text-align: center;
}

.manufacturers-categor {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 71px;
}

.manufacturers-categor-ul {
  li {
    margin-bottom: 27px;
    list-style: none;
    ul {
      margin-top: 24px;
      padding-left: 30px;
      margin-bottom: 24px;
    }
  }
  a {
    background-image: url("../img/Folder.svg");
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 17px;
    color: #14121F;
    padding-left: 30px;
    &:hover {
      color: rgb(46, 96, 255);
      text-decoration: none;
    }
  }
}






.manufacturers-inff {
  background: rgb(46, 96, 255);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 70px;
}

.manufacturers-inff-txt-1 {
  font-weight: bold;
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 44px;
}

.manufacturers-inff-txt-2 {
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 48px;
}

.manufacturers-inff-btn {
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  height: 48px;
  font-size: 17px;
  color: rgb(46, 96, 255);
  align-items: center;
  justify-content: center;
  width: 100%;
}

.manufacturers-dil-img-w {
  margin-bottom: 24px;
  overflow: hidden;  
  border-radius: 5px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.manufacturers-dil-txt {
  font-weight: bold;
  font-size: 18px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
}

.manufacturers-dil-a {
  display: block;
  font-size: 17px;
  color: #2E60FF;
}

.pagin {

}

.pagin-ul {
  display: flex;
  align-items: center;
}

.pagin-li {
  margin-right: 24px;
}

.pagin-span {
  font-size: 17px;
  color: #2E60FF;
}

.pagin-a {
  font-size: 17px;
  color: #858FA4;
}

.category {
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  padding-top: 27px;
  padding-bottom: 29px;
}

.category-wh {
 padding-top: 27px;
 padding-bottom: 29px; 
 margin-bottom: 24px;
}

.category-bott-txt {
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-bottom: 31px;
}

.category-bott-items {
  margin-left: -10px;
  margin-right: -10px;
}

.category-bott-ul {
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  margin: 0 10px;
}

.column-l {
  .category-bott-ul {
    width: calc(50% - 22px);
    margin: 0 10px;
  }
}

.category-bott-li {
  margin-bottom: 23px;
}

.category-bott-a {
  font-size: 16px;
  color: #2E60FF;
}

.show-search-more {
  display: none;
}

/************4******************/

.prod-cols {
  margin-top: 50px;
}


.product-row-txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 52px;
  h1 {
    font-weight: bold;
    font-size: 26px;
    color: #14121F;
    margin-bottom: 0;
  }
}

.product-txt-w {
  margin-right: 6px;
}

.product-txt-2 {
  font-weight: bold;
  font-size: 25px;
  color: rgb(20, 18, 31);
  text-align: right;
  margin-bottom: 7px;    
}

.product-txt-3 {
  font-size: 17px;
  color: rgb(133, 143, 164);
  text-align: right;
}

.product-photo-w {
  width: 100%;
  margin-bottom: 48px;
}

.product-photo-a {
  display: flex;
  border: 1px solid rgba(183, 188, 198, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 16px;
}

.product-photo-span {
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  width: 312px;
  height: 312px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-photo-row {
  display: flex;
}

.product-photo-mini {
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  display: flex;
  width: 165px;
  height: 165px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.product-descript {
  margin-bottom: 52px;
}

.product-descript-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 27px;
  justify-content: space-between;
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #F3F4F6;
    z-index: -1;
  }
}

.product-descript-txt {
  font-size: 16px;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-right: 0px;
  background-color: #FFF;
  
  &:nth-child(1) {
    padding-right: 14px;
  }  
  &:nth-child(2) {
    padding-left: 14px;
  }
}

.prod-page {
  padding-bottom: 78px;
}

.product-desc {
  font-size: 18px;
  color: rgb(20, 18, 31);
  line-height: 1.9;
  margin-bottom: 24px;  
}

.product-similar {  
  margin-top: 70px;  
}

.product-similar-txt-1 {
  font-weight: bold;
  font-size: 24px;
  color: rgb(20, 18, 31);
  margin-bottom: 48px;
}

.product-similar-w {
  display: flex;
  margin-bottom: 24px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  padding: 24px 24px 24px 24px;
  box-shadow: 0px 10px 50px rgba(132, 147, 160, 0.05);
  border-radius: 10px;
  &:hover {
    background: linear-gradient(0deg, #F8F9FA, #F8F9FA);
  }
}

.product-similar-about {
  margin-left: 24px;
  flex-grow: 1;
  display: block; 
}

.manufacturers-card-info-col-2-btn {
  width: 48px;
  height: 48px;
  background: url("../img/heart.svg") center center no-repeat rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-left: 14px;
}

.product-similar-a {
  font-size: 16px;
  color: rgb(46, 96, 255);
  display: block;
  margin-bottom: 14px;
}

.product-similar-txt-3 {
  font-size: 17px;
  color: rgb(20, 18, 31);
  margin-top: 19px;
  float: none;
  width: 100%;
  line-height: 1.3;
}

.product-similar-txt-find {
  font-size: 19px; 
  line-height: 1.8;
}

.manufacturers-card-img {
  width: 165px;
  height: 165px;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.product-similar-price {
  display: flex;
  margin-top: 23px;
}

.product-similar-price-txt-1 {
  font-weight: bold;
  font-size: 18px;
  color: rgb(20, 18, 31);
  margin-right: 14px;
}

.product-similar-price-txt-2 {
  font-size: 15px;
  color: #858FA4;
}

.category-w {
  margin-top: 51px;
  margin-top: 0;
}

/**************5*****************/



.productis-it-w {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.productis-it-2 {
  width: calc(100% / 3 - 60px / 3);
  border-radius: 10px;
  border: 1px solid rgba(183, 188, 198, 0.2);
  background-color: rgb(255, 255, 255);
  padding: 24px 24px 11px 24px;
  margin-bottom: 30px;
  &:hover {
    border: 1px solid rgba(46, 96, 255, 0.3);
  }
  .productis-tit {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .productis-tit-a {
    margin-bottom: 16px;
  }
}

.productis-img-w-2 {
  display: flex;
  height: 182px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  position: relative;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  align-items: center;
  justify-content: center;
}

.productis-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productis-img-w-span {
  background: #FFF;
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 48px;
  height: 48px;
  display: flex;  
  align-items: center;  
  justify-content: center;
  cursor: pointer;
  input[type="checkbox"] {
    display: none;
    + span {
      width: 20px;
      height: 18.5px;
      display: block;
      background: url("../img/heart-2.svg") $nr center;
    }
    &:checked {
      + span {
        background: url("../img/heart-3.svg") $nr center;
      }
    }
  }
}
.productis-img-w-span-2 {
  input[type="checkbox"] {
    + span {
      background: url("../img/mail.svg") $nr center;
    }
    &:checked {
      + span {
        background: url("../img/mail2.svg") $nr center;
      }
    }
  }
}


.manufacturers-card-info-a-geo-w {
  margin-bottom: 10px;
}

.manufacturers-card-info-a-geo {
  display: flex;
  font-size: 16px;
  color: rgb(20, 18, 31);
  width: 100%;
  align-items: center;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}



.productis-tit-a {
  font-size: 16px;
  color: rgb(46, 96, 255);
  display: block;
  margin-bottom: 14px;
}


.productis-chars-span-2 {
  color: rgb(20, 18, 31);
  font-weight: bold;
}

.catprod-page {
  padding-bottom: 100px;
  .pagin {
    margin-top: 17px;    
  }
  h1 {
    margin-bottom: 40px;
  }
  
}
.manufacturers-cond-item-4 {
  width: 236px;
}

.columns-catprod {
  margin-top: 0px;
  .column-r {
    width: 360px;
  }
}



/**********6****************/


.purchases {
}

.contain {
}

.purchases-w {
}

.purchases-card {
  padding: 24px;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 48px;
}

.purchases-card h1 {
  font-weight: bold;
  font-size: 25.6px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
}

.purchases-card-txt-2 {
  font-size: 17px;
  color: rgb(133, 143, 164);
  margin-bottom: 21px;
}

.purchases-card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.purchases-card-txt-3 {
  font-size: 17px;
  color: rgb(133, 143, 164);
  display: inline-block;
}

.purchases-card-span {
  color: #14121F;
}

.purchases-card-a {
  font-size: 17px;
  color: rgb(46, 96, 255);
  display: block;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column-l {

}

.column-r {

}

.purchases-columns-w {  
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 53px;
  width: 100%;
}

.purchases-columns-txt-1 {
  font-weight: bold;
  font-size: 24px;
  color: rgb(20, 18, 31);
  margin-bottom: 48px;
}

.purchases-columns-charact {
  margin-bottom: 24px;
}

.purchases-columns-charact-txt {
  font-size: 17px;
  color: rgb(133, 143, 164);
  display: inline-block;
  margin-right: 20px;
}

.purchases-columns-charact-span {
  color: #14121F;
}

.purchases-columns-txt-2 {
  font-size: 19px;
  line-height: 1.9;
  color: rgb(20, 18, 31);
  margin-bottom: 48px;
}



.category-bott-txt {

}

.category-bott-items {
}





.purchases-columns-cont-l {
  margin-top: 70px;
  border-bottom: 1px solid rgba(183, 188, 198, 0.5);
  padding-bottom: 19px;
}

.purchases-columns-cont-l-2 {
 padding-bottom: 30px; 
}

.purchases-columns-cont-l-w {
  margin-top: -3px;
}

.purchases-columns-cont-l-row {
  display: flex;    
  justify-content: flex-start;
  margin-bottom: 16px;
  &:nth-child(1) {
    margin-bottom: 25px;
  }  
}

.purchases-columns-cont-l-txt-1 {
  font-weight: bold;
  font-size: 16px;
  color: rgb(20, 18, 31);
  width: 85px;
  margin-right: 110px;
}

.purchases-columns-cont-l-txt-2 {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 18, 31);
  width: 360px;
  margin-right: 30px;
}

.purchases-columns-cont-l-a {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  height: 32px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}

.purchases-columns-cont-l-span {
  font-size: 14px;
  color: rgb(20, 18, 31);
  margin-right: 5px;
}

.purchases-columns-cont-l-span-img {
  background-image: url("../img/arr-r-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 14px;
  height: 11px;
}

.purchases-columns-cont-a-w {
  width: 360px;
  margin-right: 30px;
}

.purchases-columns-cont-a {
  display: block;
}



.purchases-columns-cont {
  margin-bottom: 51px;
}

.purchases-columns-cont-row {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

.purchases-columns-cont-txt {
  font-size: 17px;
  color: rgb(20, 18, 31);
  width: 85px;
  margin-right: 23px;
}

.purchases-btn {
  display: flex;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background: rgb(46, 96, 255);
  border-radius: 5px;
  height: 48px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.purchases-columns-txt-3 {
  margin-top: 24px;
  font-size: 16px;
  color: rgb(133, 143, 164);
  line-height: 1.5;
}

.simpurchases {
  margin-top: 67px;
  .procur-categ-card {

  }
  .product-similar-txt-3 {
    margin-top: 18px;
  }
}

.purchase-page {
  padding-bottom: 73px;
  .head-2 {
    font-size: 25.8px;
    margin-bottom: 51px;
  }
}

.purchases {
  margin-top: 35px;
}

.purchase-cols {
  margin-top: 50px;
  .column-r {
    width: 336px;
  }
  .column-l {
    margin-right: 54px;
  }
}

.purchases-columns-bl {
  margin-top: 5px;
  margin-right: 24px;
}

/*******7**********/

.procur-categ {
}


.procur-categ-w {
}


.procur-categ-colums-w {
}

.procur-categ-choices {
}


.procur-categ-choices-row {
  display: flex;
  margin-bottom: 48px;
  width: 100%;
}

.procur-categ-choices-it-1 {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  width: 263px;
}

.procur-categ-choices-txt-1 {
  font-size: 14px;
  color: rgb(20, 18, 31);
  margin-bottom: 10px;
  display: inline-block;
}

.procur-categ-choices-input {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  height: 48px;
  padding-left: 24px;
  padding-right: 16px;
  width: 100%;
}

.manufacturers-cond-iprocur-categ-choices-it-2tem-3 {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  width: 232px;
}

.procur-categ-choices-txt-2 {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 19px 16px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-size: 16px;
  color: rgb(20, 18, 31);
}

.procur-categ-choices-span-1 {
  background-image: url("../img/arr-d.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 10px;
  height: 10px;
}

.procur-categ-choices-it-3 {
  display: inline-flex;
  flex-direction: column;
  margin-right: 30px;
  width: 195px;
}

.procur-categ-card {
  display: flex;
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  box-shadow: rgba(132, 147, 160, 0.05) 0px 10px 50px;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}

.product-similar-img-w {
  width: 165px;
  height: 165px;
  background: linear-gradient(0deg, rgb(248, 249, 250), rgb(248, 249, 250));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background: linear-gradient(0deg, #F8F9FA, #F8F9FA);
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &.noimage {
    img {
      object-fit: unset;
      width: auto;
      height: auto;
    }
  }
}

.procur-categ-info {
  margin-left: 24px;
  flex-grow: 1;
}

.product-similar-row {
  display: flex;
  margin-bottom: 14px;
  width: 100%;
  justify-content: space-between;
}

.product-similar-row-2 {
  margin-bottom: 0;
}

.product-similar-txt-2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(20, 18, 31);
  max-width: 350px;
  flex: none;
  width: 100%;
}

.product-similar-heart-w {
  display: inline-flex;
  justify-content: flex-end;
  width: 50px;
  flex-grow: 1;
  .productis-img-w-span {
    position: static;
  }
}

.manufacturers-card-info-col-2-btn {
  width: 48px;
  height: 48px;
  background: url("../img/heart.svg") center center no-repeat rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin-left: 14px;
}

.nbuy-txt-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.nbuy-txt-2-w {
  margin-right: 24px;
}

.nbuy-txt-2 {
  font-size: 16px;
  color: rgb(20, 18, 31);
  margin-bottom: 12px;
  padding-right: 0px;
  padding-left: 36px;
  background-image: url("../img/geo.png");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.nbuy-txt-1-w {
}

.nbuy-txt-1 {
  font-size: 16px;
  color: rgb(20, 18, 31);
  margin-bottom: 12px;
  padding-right: 0px;
  padding-left: 36px;
  background-image: url("../img/clock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.purchases-wholes-choice {
  margin-bottom: 14px;
}



.purchases-columns-charact-span {
  color: #14121F;
}



.column-r {  

}

.procur-categ-r {
}

.procur-categ-btn {
  background: rgb(46, 96, 255);
  border-radius: 5px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 48px;
  display: inline-flex;
  padding-left: 45px;
  padding-right: 45px;
  align-items: center;
  justify-content: center;  
}

.manufacturers-categor {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 70px;
}

.manufacturers-select-txt {
  font-size: 16px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  font-weight: bold;
}

.manufacturers-categor-ul {
}

.manufacturers-categor-li {
  margin-bottom: 24px;
}

.manufacturers-categor-a {
  background-image: url("../img/Folder.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  color: rgb(20, 18, 31);
  padding-left: 30px;
  display: block;
}

.procur-categ-ul {
  margin-top: 24px;
  padding-left: 30px;
  margin-bottom: 24px;
}

.procur-categ-li {
  margin-bottom: 24px;
}

.procur-categ-a {
  display: block;
  font-size: 16px;
  color: #14121F;
}

.procur-categ-act-a {
  display: block;
  font-size: 16px;
  color: #2E60FF;
}


.manufacturers-categor {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(183, 188, 198, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 70px;
}

.manufacturers-select-txt {
  font-size: 16px;
  color: rgb(20, 18, 31);
  margin-bottom: 24px;
  font-weight: bold;
}

.manufacturers-categor-ul {
}

.manufacturers-categor-li {
  margin-bottom: 24px;
}

.manufacturers-categor-a {
  background-image: url("../img/Folder.svg");
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 16px;
  color: rgb(20, 18, 31);
  padding-left: 30px;
  display: block;
}

.procur-categ-ul {
  margin-top: 24px;
  padding-left: 30px;
  margin-bottom: 24px;
}

.procur-categ-li {
  margin-bottom: 24px;
}

.procur-categ-a {
  display: block;
  font-size: 16px;
  color: #14121F;
}

.procur-categ-act-a {
  display: block;
  font-size: 16px;
  color: #2E60FF;
}

.catpurch-cols {
  .column-r {
    width: 360px;
  }
}

.catpurch-cols-2 {
  margin-top: 48px;
}
.catpurch-cols-1 {   
  align-items: flex-end;  
  .manufacturers-cond {
    margin-bottom: 0;
  }
  .manufacturers-cond-item {
    width: 232px;
  }
  .manufacturers-cond-item-3 {
    width: 195px;
  }
}
.catpurch-page {
  .pagin {
    margin-top: 24px;
    margin-bottom: 100px;
  }  
}

.procur-categ {
  h1 {
    margin-bottom: 50px;
  }
}

/****************8********************/

.service-cols {
  margin-top: 44px;
  .purchases-columns-txt-2 {
    line-height: 1.8;
  }
  .category-bott-a {
    font-size: 17.2px;
  }
  .column-l {

  }
}

.comp-err-link-2 {
  margin-top: 49px;
}



.rconts-open {
  .rconts-a a {
    text-overflow: unset;
    width: auto;
    white-space: unset;    
  }
}

.gray {
  color: #858FA4;
  a {
    color: #858FA4;
    &.on {
      color: #2E60FF;
    }
  }
}

.service-page {
  padding-bottom: 76px;
}

.product-similar-cat {
  display: block;
  font-size: 16px;
  color: #858FA4;
}

/**********9**************/

.catserv-cols {
 .column-r {
   width: 360px;
 } 
 .manufacturers-cond-item {   
   &:last-child {
     margin-right: 0;
   }
 }
}

@import "_mnu.scss";
@import "_media.scss";
@import "_hides.scss";
@import "_after-styless";